/A.UniBirham/bin/
/A.UniBirham/gen/
/library*/
/android*/
*.class
.classpath
.project
/library-afinal/bin/
/library-afinal/gen/
/library-SlidingMenu/bin/
/library-SlidingMenu/gen/
/library-aFileChooser/bin/
/library-aFileChooser/gen/
/android-support-v7-appcompat/bin/
/android-support-v7-appcompat/gen/

